<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Operations Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Operations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADC07B0D1BC6B68D002586FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC07B1D1BC6BE5B002586FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC07B261BC6BE73002586FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC07B541BC6BF94002586FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
